@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    
    background: linear-gradient(180deg, #ffa500, #000000, #6e6e6e);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 59s ease infinite;
    -moz-animation: AnimationName 59s ease infinite;
    animation: AnimationName 59s ease infinite;
}



main {
    flex: 1;
}

p {
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
    color: #ffa500;
}

.container {
    margin: 60px auto 100px;
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.inputArea {
    background-color: rgb(83, 81, 81);
    display: flex;
    padding: 10px 0;
    border-radius: 7px 7px 0 0;
}

.taskContainer {
    background-color: rgb(83, 81, 81);
    border-radius: 0 0 7px 7px;
}

.inputContainer {
    display: flex;
    justify-content: space-evenly;
    width: 400px;
}

.taskName, .taskDescription {
    border-radius: 8px;
    border: 1px solid orange;
    padding-left: 5px;
    height: 40px;
}

.taskName::placeholder, .taskDescription::placeholder {
    color: orange;
}

.taskName:focus, .taskDescription:focus {
    border-color: rgb(255, 179, 0);
    color: orange;
    outline: none;
    padding-left: 4px;
}

.add {
    color: white;
    background-color: orange;
    border-radius: 10px;
    width: 80px;
    font-size: 20px;
    border: none;
    margin-left: 10%;
}

.taskList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h2 {
    color: rgb(205, 134, 1);
}

.parag {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 350px;
}

.parag span {
    font-size: 15px;
}

.completed {
    border: solid;
    color: aqua;
    border-color: rgb(0, 194, 194);
    border-radius: 25px;
    height: 40px;
    width: 82px;
    font-size: 12px;
}

.delete {
    color: red;
    border-color: red;
    border-radius: 25px;
    height: 40px;
    width: 80px;
    font-size: 12px;
    margin-right: 5%;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: sticky;
    bottom: 0;
}

@media (max-width: 768px) {
    .inputContainer {
        flex-direction: column;
        gap: 5px;
        margin-left: 3%;
        width: 60%;
    }
    .container {
        width: 100%;
    }
    .delete{
        margin-right: 1%;
    }
    .parag{
        width: 60%;
    }
}


@-webkit-keyframes AnimationName {
    0%{background-position:52% 0%}
    50%{background-position:49% 100%}
    100%{background-position:52% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:52% 0%}
    50%{background-position:49% 100%}
    100%{background-position:52% 0%}
}
@keyframes AnimationName {
    0%{background-position:52% 0%}
    50%{background-position:49% 100%}
    100%{background-position:52% 0%}
}
